.chat-box {
  height: 60px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .fas {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
  }

  .name {
    font-size: 30px;
    color: white;
  }
}
