.left-panel {
  background-color: lightseagreen;
  width: 300px;
  height: 100%;
  position: relative;

  .user-info {
    border-bottom: 1px red solid;
    height: 60px;
    display: flex;
    align-items: center;

    .signin-as {
      // border: 1px red solid;
      font-size: 20px;
      margin-left: 10px;
      color: white;

      .display-name {
        text-decoration: underline;
      }
    }
  }

  .search-box {
    border-bottom: 1px red solid;
    height: 60px;
  }
}
