.left-panel {
  background-color: lightseagreen;
  width: 300px;
  height: 100%;
  position: relative;

  .user-info {
    border-bottom: 1px red solid;
    height: 60px;
    display: flex;
    align-items: center;

    .signin-as {
      // border: 1px red solid;
      font-size: 20px;
      margin-left: 10px;
      color: white;

      .display-name {
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .search-box {
    border-bottom: 1px red solid;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 250px;
      height: 30px;
      padding: 0 15px;
      border-radius: 20px;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
