.login-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;

    // .far {
    //   margin: 30px 0;
    // }

    .input {
      margin: 20px 30px;
      width: 200px;
      border-radius: 100px;
      border-style: solid;
      height: 30px;
      padding: 0 10px;

      &:focus {
        outline: none;
      }
    }

    .login-btn {
      border: 1px solid black;
      background-color: white;
      height: 30px;
      width: 100px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
