.home-container {
  border-left: 1px solid red;
  border-right: 1px solid red;
  height: 100vh;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
}

// // getting data with condition
// db.collection("cafes")
//   .where("city", "==", "New York")
//   .get()
//   .then((snapshot) => {
//     snapshot.docs.forEach((doc) => {
//       renderCafe(doc);
//     });
//   });
