.message-boarder-container {
  position: absolute;
  overflow: auto;
  background: wheat;
  width: 100%;
  top: 60px;
  bottom: 80px;
  padding: 10px;
  // display: flex;
  // flex-direction: column;
}
